.buttonsContainer {
  display: flex;
  flex-direction: column;
  gap: 15px; /* Espace entre les boutons */
  margin-top: 20px;
}

.postButton {
  width: 100%;
  padding: 10px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  color: white;
}

.postButton p {
  margin: 0;
  text-align: center;
}

.betButton {
  background-color: #ff4d4f; /* Rouge pour Bet */
}

.betButton:hover {
  background-color: #d42f2f;
}

.reactButton {
  background-color: #007bff; /* Bleu pour React */
}

.reactButton:hover {
  background-color: #0056b3;
}